* {
  margin: 5px;
}

.box-container {
  width: 10px;
}

.btn-primary {

}

.btn-secondary {}

.btn-tenrary {}

.boxStyle {
  width: 100px;
  height: 50px;
  transition: all 0.5s linear;
}

.boxStyle1:hover {
  opacity: 0
}