.box-container {
  width: 200px;
  height: 100px;
  flex-basis: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
